.dv-border-box-11 {
  width: 30% !important;
  height: 35% !important;
  position: relative;
  margin: 0px 20px;
}
.dv-border-box-11 .pie {
  width: 100%;
  height: 100%;
  position: relative;
  top: 5%;
  left: 5%;
}
.car-radar {
  width: 30%;
  height: 60%;
}
.car-radar .dv-border-box-8 {
  padding: 1% 0 0 0;
}
.car-radar .dv-border-box-8 .water-radar {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.car-radar .dv-border-box-8 .water-radar .water {
  width: 25%;
  height: 100%;
  position: relative;
  left: 5%;
}
.car-radar .dv-border-box-8 .water-radar .water .water-decor {
  width: 150px;
  height: 150px;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 10%;
  left: 40%;
}
.car-radar .dv-border-box-8 .water-radar .water .water-name {
  height: 20px;
  color: #6c41d1;
  font-size: 22px;
  margin: 15px 0px 40px;
  font-weight: 900;
}
.car-radar .dv-border-box-8 .water-radar .water .waterCicle {
  width: 150px;
  height: 150px;
}
.car-radar .dv-border-box-8 .water-radar .radar {
  width: 75%;
  height: 100%;
}
.car-radar .dv-border-box-8 .lines {
  width: 100%;
  height: 50% ;
}
.dv-border-box-9 {
  width: 63% !important;
  height: 60% !important;
  padding: 1%;
}
.dv-border-box-9 .yieldLine {
  height: 100%;
  width: 100%;
}
