.footer {
  position: relative;
  width: 100vw;
  height: 100px;
  background-color: rgba(19, 18, 18, 0.5);
  display: flex;
  justify-content: center;
}
.footer .footer-content {
  width: 80%;
}
.footer .footer-content .content-reference {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-content .content-reference .content-icon {
  margin: 10px 40px;
}
.footer .footer-content .content-reference .icon-span {
  color: white;
  position: relative;
  left: 10px;
  bottom: 2px;
  font-size: 18px;
}
.footer .footer-content .content-reference .content-wechat {
  width: 150px;
  height: 150px;
  background-image: url('../../assets/img/wechat.jpg');
  background-size: cover;
  margin: 20px;
}
.footer .footer-content .content-terms {
  border-top: 1px gray solid ;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-content .content-terms .terms-span {
  margin: 10px 50px;
  font-size: 18px;
}
